{
    "postgres": {
        "db_dialect": "postgres",
        "db_host": "svc_postgres_semaphore",
        "db_name": "semaphore",
        "db_user": "{{ svc_semaphore_db_root_user }}",
        "db_pass": "{{ svc_semaphore_db_root_password }}",
        "admin_name": "{{ svc_semaphore_root_user }}",
        "admin_email": "groot@localhost",
        "admin_password": "{{ svc_semaphore_root_password }}",
        "options": {
            "sslmode": "disable"
        }
    },
    "dialect": "postgres",
    "tmp_path": "/tmp/semaphore",
    "cookie_hash": "QihKktxTbsC5NA947Jq2HGyWgjqJcD8/e/SQBRPjsNE=",
    "cookie_encryption": "Jb9q6/bP8cutft8LUmY6k/OZNNol7CvxH8WOBVNYGoM=",
    "access_key_encryption": "6yuJAMSnDlFkJiHiFiNY6sXWzhOJYamfcjttDluuOTQ="
}
