frontend http_front_6443
  bind *:6443
  timeout client 60s
  mode tcp
  option tcplog
  default_backend http_back_6443

backend http_back_6443
  mode tcp
  option tcplog
  option tcp-check
  balance source
  default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
  server m01 192.168.3.17:6443 check
  server m02 192.168.3.16:6443 check
  server m03 192.168.3.15:6443 check

frontend http_front_talos_prd_blue_5443
  bind *:5443
  timeout client 60s
  mode tcp
  option tcplog
  default_backend http_back_talos_prd_blue_5443

backend http_back_talos_prd_blue_5443
  mode tcp
  option tcplog
  option tcp-check
  balance source
  default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
  server m01 192.168.3.110:6443 check
  server m02 192.168.3.111:6443 check
  server m03 192.168.3.112:6443 check

frontend http_front_talos_prd_mgt_4443
  bind *:4443
  timeout client 60s
  mode tcp
  option tcplog
  default_backend http_back_talos_prd_mgt_4443

backend http_back_talos_prd_mgt_4443
  mode tcp
  option tcplog
  option tcp-check
  balance source
  default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
  server m01 192.168.3.130:6443 check
  server m02 192.168.3.131:6443 check
  server m03 192.168.3.132:6443 check

frontend http_front_talos_prd_green_7443
  bind *:7443
  timeout client 60s
  mode tcp
  option tcplog
  default_backend http_back_talos_prd_green_7443

backend http_back_talos_prd_green_7443
  mode tcp
  option tcplog
  option tcp-check
  balance source
  default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
  server m01 192.168.3.120:6443 check
  server m02 192.168.3.121:6443 check
  server m03 192.168.3.122:6443 check
